{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<div class="flex-container column-style skyblue" id="form-jadwal">
    <span class="title">
        Add Item to Schedule
    </span>
    <div class="form">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="flex-container column-style" id="isian-form">
                <span class="form-txt">Name of Activity</span>
                {{ form.nama_kegiatan}}
                <span class="form-txt">Location</span>
                {{ form.tempat }}
                <span class="form-txt">Category</span>
                {{ form.kategori }}
                <div class="row-style full-width">
                    <span class="form-txt">Day and Time</span><br>
                    {{ form.hari }}<br>
                    {{ form.tanggal }}, {{ form.waktu }}
                </div>
            </div>
            <div class="flex-container row-style" id="cont-btn-form">
                <a href="{% url 'jadwal:list_jadwal' %}" class="tombol-kecil">Back</a>
                <input type="submit" class="tombol-kecil" value="Submit" />
            </div>
        </form>
    </div>
</div>



{% endblock %}