{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<div class="flex-container column-style skyblue" id="jadwal">
    <span class="title">
        My Schedules
    </span>
    <div class="flex-container column-style" id="list-jadwal-cont">
        <div class="flex-container row-style" id="">
            <a href="{% url 'jadwal:create_jadwal' %}" class="tombol-kecil" id="">
                Add new
            </a>
        </div>
        {% for item in daftar_item %}
            <div class="flex-container column-style item-card">
                <span class="subtitle">{{ item.nama_kegiatan }}</span>
                <div class="flex-container row-style full-width item-body" id="">
                    <div class="flex-container column-style item-card-body">
                        <p>Location: {{ item.tempat }}</p>
                        <p>Category: {{ item.kategori }}</p>
                        <p>{{item.hari}}, {{ item.tanggal }} - {{ item.waktu }}</p>
                    </div>
                    <div class="flex-container column-style item-card-btn">
                        <form action="delete_jadwal/" method="POST" >
                            {% csrf_token %}
                            <input type="hidden" value="{{ item.id }}" name="id" />
                            <input class="tombol-kecil delete" type="submit" value="Delete" />
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>



{% endblock %}