{% extends 'base_layout.html' %}

{% block content %}
{% load static %}
        
        <!-- div for about page -->
        <div class="flex-container column-style" id="about">
            <div class="flex-container" id="about-title">
                <span class="title">About Me</span>
            </div>
            <div class="flex-container" id="data">
                <div class="" id="about-left">
                    <img src="{% static 'img/foto.png' %}" alt="profile image" id="profile-img">
                </div>
                <div class="flex-container column-style" id= "about-right">
                    <span class="subtitle">
                        My name is Christopher Yohanes Hasian Tamba and you can call me 
                        <span class="blue-txt">Christo</span>
                    </span>
                    <span class="subtitle">
                        I'm currently an 
                        <span class="bold-txt">Information System</span>
                        student at 
                        <span class="bold-txt">University of Indonesia</span>
                    </span>
                    <span class="subtitle">
                        I love to study 
                        <span class="violet-txt">technology</span>
                        and how it works to make a great impact in  
                        <span class="violet-txt">business</span>.
                    </span>
                </div>
            </div>
        </div>

{% endblock %}