{% extends 'base_layout.html' %}

{% block content %}
{% load static %}

        <!-- section experiences -->
        <div class="flex-container column-style" id="experiences">
            <div class="flex-container" id="exp-title">
                <span class="title">Volunteering and Working Experiences</span>
            </div>
            <div class="flex-container column-style" id="item-mainbox">
                <div class="flex-container item-box left-column column-style">
                    <span class="blue-txt body-txt">
                        Teaching Assistant of Programming Foundations 1 | Sep 2019 - Present
                    </span>
                    <span class="item-txt miring">
                        Faculty of Computer Science, University of Indonesia
                    </span>
                    <span class="sub-item">
                            I’m helping the lecturer tutoring 14 out of 58 students in lab session and 
                            teach them Python fundamentals and basic OOP using Python
                    </span>
                </div>
                <div class="flex-container item-box left-column column-style">
                    <span class="blue-txt body-txt">
                        Application Developer | June 2019 - Present
                    </span>
                    <span class="item-txt miring">
                        PT INOVASI INTI SUKSES - venation.io
                    </span>
                    <span class="sub-item">
                        Responsible for making web-based application (front-end & back-end) using 
                        Wordpress, ReactJS, Javascript, and other tools based on project
                    </span>
                </div>
                <div class="flex-container item-box left-column column-style">
                    <span class="blue-txt body-txt">
                        Staff of Business IT Case Competition | Mar 2019 - Sep 2019
                    </span>
                    <span class="item-txt miring">
                        COMPFEST XI
                    </span>
                    <span class="sub-item">
                        Manage the Business IT Competition held by COMPFEST XI, Faculty of Computer Science, University of Indonesia. 
                        I'm responsible to find jury and mentor for the competition.
                    </span>
                </div>
                <div class="flex-container item-box left-column column-style">
                    <span class="blue-txt body-txt">
                        Member of Sekolah BEM Fasilkom | Oct 2018 - Dec 2018
                    </span>
                    <span class="item-txt miring">
                        IT Bureau, Faculty of Computer Science, University of Indonesia
                    </span>
                    <span class="sub-item">
                        Learnt HTML, CSS, and Django framework fundamentals to make a simple portfolio website
                        including simple forms feature
                    </span>
                </div>                
            </div>
        </div>




{% endblock %}