{% extends 'base_layout.html' %}

{% block content %}
{% load static %}
        <!-- intro section -->
        <div class="flex-container row-style skyblue" id="intro">
            <div class="flex-container column-style" id=intro-left>
                <span class="title">Hi there,</span>
                <span class="title">I am 
                    <span id="name">Christopher Yohanes Hasian Tamba</span>
                </span>
                <span class="title">Glad to meet you all!</span>
            </div>
            <div class="flex-container column-style" id="intro-right">
                <a href="https://drive.google.com/file/d/1ldGsKBjX4maRtzPBP9Suv_evGV1GZu0y/view?usp=sharing" 
                    class="tombol button-text" id="my-resume" target="_blank">
                    My Resume
                </a>
                <a href="{% url 'portfolio:about' %}" class="tombol button-text" id="explore">
                    About me!
                </a>
            </div>
        </div>


{% endblock %}
