{% extends 'base_layout.html' %}

{% block content %}
{% load static %}

    <!-- section for skills -->
    <div class="flex-container column-style skyblue" id="skills">
        <div class="" id="skill-title">
            <span class="title">My Skills</span>
        </div>
        <div class="flex-container row-style" id="skill-sub">
            <div class="flex-container column-style" id="tech">
                <span class="subtitle blue-txt miring title-sub">
                        Technical Skills
                </span>
                <span class="body-txt">Python</span>
                <span class="skyblue-txt body-txt">Java</span>
                <span class="body-txt">Wordpress</span>
                <span class="skyblue-txt body-txt">HTML 5</span>
                <span class="body-txt">CSS</span>
                <span class="skyblue-txt body-txt">Django</span>
            </div>
            <div class="flex-container column-style" id="personal">
                <span class="subtitle blue-txt miring title-sub">
                        Personal Skills
                </span>
                <span class="body-txt">The ability to learn and follow</span>
                <span class="body-txt">instructions</span>
                <span class="skyblue-txt body-txt">Discipline, hardworking, and </span>
                <span class="skyblue-txt body-txt">trustworthy person</span>
                <span class="body-txt">Good time management</span>
                <span class="skyblue-txt body-txt">The ability to work in a team</span>
            </div>
        </div>
    </div>

{% endblock %}